<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form
  class="form mt-4"
  [formGroup]="novoUsuarioForm"
  (ngSubmit)="cadastrarNovoUsuario()"
>
  <div class="form-group">
    <input
      type="text"
      placeholder="Digite seu e-mail"
      class="form-control"
      formControlName="email"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.required &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="Campo e-mail é obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.email &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail informado é inválido"
    ></app-mensagem>
  </div>
  <div class="form-group">
    <input
      type="text"
      placeholder="Digite seu nome completo"
      class="form-control"
      formControlName="fullName"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Campo nome completo é obrigatório"
    ></app-mensagem>
  </div>
  <div class="form-group">
    <input
      type="text"
      placeholder="Digite seu usuário"
      class="form-control"
      formControlName="userName"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo
      && novoUsuarioForm.get('userName')?.touched"
      mensagem="Usuário deve ser em letra mínuscula"
    ></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"
      mensagem="Usuário já existe"
    ></app-mensagem>
  </div>
  <div class="form-group">
    <input
      type="password"
      placeholder="Digite sua senha"
      class="form-control"
      formControlName="password"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"
      mensagem="Senha deve ser diferente do usuário"
    ></app-mensagem>
  </div>
  <button class="btn btn-primary btn-block">Cadastrar</button>
</form>

<p>Já é um usuário? <a [routerLink]="['']">Volte para o login!</a></p>
